.categories {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
  }
  
  .category {
    list-style-type: none;
    border: 2px solid #ff7300;
    color: #ff7300;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .current-category {
      background: #ff7300;
      color: #fff;
  }